# Environment Variables for Render Deployment
# Copy-paste these into the "Environment" tab on your Render dashboard

SECRET_KEY=Kz0HOb-qabsqJ5Trli2qUA_zgGs3wuqFB3KOayaLlksd7m
PYTHON_VERSION=3.10.12
DJANGO_SETTINGS_MODULE=BinaryImageQNN.settings
RENDER=True
