# Environments
.venv/
venv/
ENV/
env/
python/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
